@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap');

/* RESET */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea {
    font: inherit;
}

/* VARIABLES */

:root {
    /* FONT */
    --FF: "Nunito", sans-serif;
    --FF_HEADINGS: "Fugaz One", cursive;
    --FS: clamp(1rem, 2.2vh, 1.5rem);

    /* COLORS */
    --BG_COLOR: orange;
    --BG_COLOR_FADE: rgb(252, 220, 160);
    --BGIMAGE: linear-gradient(to bottom, var(--BG_COLOR), var(--BG_COLOR_FADE));
    --BODY_BG_COLOR: #fff;
    --FONT_COLOR: #000;
    --BORDER_COLOR: #333;
    --HIGHLIGHT_COLOR: rgb(51, 178, 51);
    --LINK_COLOR: black;
    --LINK_HOVER: hsla(0, 0%, 0%, 0.6);
    --LINK_ACTIVE: orange;
    --HEADER_BGCOLOR: black;
    --HEADER_COLOR: white;
    --NAV_BGCOLOR: white;
    --HERO_BGCOLOR: rgba(51, 178, 51, 0.75);
    --HERO_COLOR:  white;

    /* STANDARD PADDING */

    --PADDING_TB: 0.25em;
    --PADDING_SIDE: 2.5%;

    /* STANDARD MARGING */

    --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;


    /*BORDERS */
    --BORDERS: 1px solid var(--BORDER_COLOR);


}

/*  UTILITY CLASSES */

.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

/* GENERAL STYLES */

html {
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
    background-color: var(--BG_COLOR);
    background-image: var(--BGIMAGE);
}

body {
    background-color: var(--BODY_BG_COLOR);
    color: var(--FONT_COLOR);
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    border-left: var(--BORDERS);
    border-right: var(--BORDERS);
    box-shadow: 0 0 10px var(--BORDER_COLOR);
}

h1, h2, h3 {
    font-family: var(--FF_HEADINGS);
    letter-spacing: 0.1em;
}

h2, h3 {
    margin-bottom: 1em;
    color: var(--HIGHLIGHT_COLOR);
}

p {
    line-height: 1.5;
}

a:any-link {
    color: var(--LINK_COLOR);
}

a:hover, a:focus-visible {
    color: var(--LINK_HOVER);
}

a:active {
    color: var(--LINK_ACTIVE);
}

/* HEADER */

.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header_h1 {
    text-align: center;
    background-color: var(--HEADER_BGCOLOR);
    color: var(--HEADER_COLOR);
    padding: var(--PADDING_TB) var(--PADDING_SIDE);

}

.header_nav {
    background-color: var(--NAV_BGCOLOR);
    border-bottom: var(--BORDERS);
    font-weight: bold;
    box-shadow: 0 6px 5px -5px var(--BORDER_COLOR);
}

.header_ul {
    padding: var(--PADDING_TB) var(--PADDING_SIDE);
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

/* HERO */

.hero {
    position: relative;
}

.hero_h2 {
    background-color: var(--HERO_BGCOLOR);
    color: var(--HERO_COLOR);
    padding: 0.25em 0.5em;
    text-shadow: 2px 2px 5px var(--BORDER_COLOR);
    position: absolute;
    left: 20px;
    top: -100px;
    animation: ShowWelcome 0.5s ease-in-out 1s forwards;
}

@keyframes ShowWelcome {
    0% {
        top: -20px;
        transform: skew(0deg, -5deg) scaleY(0);
    }
    80% {
        top: 30px;
        transform: skew(10deg, -5deg) scaleY(1.2);
    }
    100% {
        top: 20px;
        transform: skew(-10deg, -5deg) scaleY(1);
    }
}

/* FOOTER */

.footer {
    position: sticky;
    bottom: 0;
    background-color: var(--HEADER_BGCOLOR);
    color: var(--HEADER_COLOR);
    padding: var(--PADDING_TB) var(--PADDING_SIDE);
    text-align: center;
}

/* MAIN */

.main {
    padding: var(--PADDING_TB) var(--PADDING_SIDE);
}

.main_article {
    scroll-margin-top: 6.5rem;
    margin: var(--MARGIN);
}

.main_article:first-child {
    margin-top: 1em;
}

.main_article:last-child {
    min-height: calc(100vh - 50rem);
}

/* ABOUT */

.about_trivia {
    margin: var(--MARGIN);
}

.about_trivia-answer {
    margin-top: 1em;
}