@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap');

/* RESET */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea {
    font: inherit;
}

/* VARIABLES */

:root {
    /* FONT */
    --FF: "Nunito", sans-serif;
    --FF_HEADINGS: "Fugaz One", cursive;
    --FS: clamp(1rem, 2.2vh, 1.5rem);

    /* COLORS */
    --BG_COLOR: orange;
    --BG_COLOR_FADE: rgb(252, 220, 160);
    --BGIMAGE: linear-gradient(to bottom, var(--BG_COLOR), var(--BG_COLOR_FADE));
    --BODY_BG_COLOR: #fff;
    --FONT_COLOR: #000;
    --BORDER_COLOR: #333;
    --HIGHLIGHT_COLOR: rgb(51, 178, 51);

    /*BORDERS */
    --BORDERS: 1px solid var(--BORDER_COLOR);


}

/*  UTILITY CLASSES */

.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

/* GENERAL STYLES */

html {
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
    background-color: var(--BG_COLOR);
    background-image: var(--BGIMAGE);
}

body {
    background-color: var(--BODY_BG_COLOR);
    color: var(--FONT_COLOR);
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    border-left: var(--BORDERS);
    border-right: var(--BORDERS);
    box-shadow: 0 0 10px var(--BORDER_COLOR);
}

h1, h2, h3 {
    font-family: var(--FF_HEADINGS);
    letter-spacing: 0.1em;
}

h2, h3 {
    margin-bottom: 1em;
    color: var(--HIGHLIGHT_COLOR);
}

p {
    line-height: 1.5;
}